.container{
    width:100vw;
    height:100vh;
    background:#111;
    display:flex;
    flex-direction:row;
    
    .history{
        width: 13vw;
        /* border: 1px solid black; */
        height:95vh;
        color:#8c8c8c;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        padding-left:2em;
        padding-top:5em;
        display:none;
        
    }
    @media only screen and (min-width: 768px) {
        .history{
            display:block;
            width:250px;
        }
      } 
    
    .box{
        border:1px solid black;
      
        background-color:black;
    
        width:100vw;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-between;
        overflow-y:auto;
        position:relative;
        bottom:0;
       

        .convo{
            
            box:1px solid white;
            width:100vw;
            background:black;
            padding:10px;
            height: 90vh;
            color:white;
            overflow-y:auto;
            scroll-behavior:smooth;

            .greetings{
                font-size:50px;
                background:linear-gradient(30deg,cyan, violet,#ff9999);
                width:fit-content;
                -webkit-background-clip: text;
                text-fill-color: transparent;
                -webkit-text-fill-color: transparent;
            }
          

            
        }
        @media only screen and (min-width: 768px) {
            .convo{
                padding-left:22vw;
                 padding-right:22vw;
                width:110vw;
            }
          } 
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
          .convo{
            width:68em;
          } 
        } 
         /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
            .convo{
                width:100em;
            }
  }

        .promptContainer{
            display:flex;
          
            align-items:center;
            justify-content:center;
            border:1px solid gray;
            border-radius:25px;
            width:100vw;
            /* border:3px dashed violet; */
            .prompt{
               
                /* border:5px solid green; */
                width:85vw;
                height: 5em;
                border-radius:25px;
                padding:2em;
                background:linear-gradient(30deg, #111, black);
                color:white;
                /* border:none; */
                
              

               
            }
            

            .prompt:focus{
                outline:none;
                color:white;
            }
          
          

            .promptButton{
               
                border-radius:50%;
                width:5em;

            }
               /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
            .prompButton{
                
               
            }
            }
        
            @media only screen and (min-width: 768px) {
            .promptButton{
                /* border:3px dashed green; */
                width:7em;
                
            }
          } 
            .promptButton:hover{
                outline:none;
             
            }
            .promptButton:focus{
                outline:none;
            }
        }
        
        @media only screen and (max-width: 600px) {
           
        }
        
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            .prompContainer{
                
               
            }
        }
        
        @media only screen and (min-width: 768px) {
            .promptContainer{
                /* border:3px dashed green; */
                width:75vw;
                
            }
          } 
          /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            .promptContainer{
              width:50em;
            } 
          } 
    
        
        
    }
    
}

/*guide only*/
@media only screen and (max-width: 600px) {
    .example {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .history{
        display:none;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   
  }

