.container { 
  position:relative;
}

.container::before{
  content:'';
  position:absolute;
  top:0;right:0;
  width:2px;height:100%;
  background:red;
  animation: blinkCursor 0.8s steps(3) infinite;
}

@keyframes blinkCursor{
  0%,75%{
    opacity:.5;

  }
  76%,100%{
    opacity:0;
  }
}

.text{
  position:relative;
  color: skyblue;
  letter-spacing:5px;
  font-size:4em;
  animation:typing 2s steps(30) infinite;
}

@keyframes typing{
  0%,670%,100{
    width:0;
  }

  30%,60%{
    width:50vw;
  }
}

