*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:arial;
}
body{
  background:linear-gradient(to right, black,#000033,black);
}

@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

/* ChatStyles.css */

/* Override font color */
.custom-chat-container {
  color: black !important;
}

/* Override background color */
.custom-chat-container .cs-message-list {
  background-color: black !important;
}

/* Override chat bubble background color */
.cs-message__content {
  background-color: black !important; /* Change to your desired color */
  color: white !important;
  margin-bottom: 15px;
}

/* Override message bubble background color */
.custom-chat-container .chatscope-message {
  background-color: #3f51b5 !important; /* Change to your desired color */
}

.cs-message__content {
  border: 1px solid white !important;
}

.cs-message--incoming .cs-message__content {
  background-color: #008FFF !important;
  color: #000 !important;
}

.cs-message-list__scroll-wrapper {
  padding-left: 0px !important;
}


@tailwind components;
@tailwind utilities;